.standardHeight {
    height: 100vh;
}


.standardWidth {
    width: 100vh;
}

.topMargin {
    margin-top: 30px;
}

#bodyContent {
    padding: 30px;
}

.websiteBackground {
    background-color: rgb(222, 217, 217);
    /* background-color: #659DBD; */
}

.employeeButton {
    background-color: rgb(233, 150, 122);
}

.WhiteBackground {
    background-color: rgb(255, 255, 255);
}

.mb-15 {
    margin-bottom: 15px;
}

.trim {
    padding: 0px;
    margin: 0px;
}

.mt-5 {
    margin-top: 5px;
}

.ms-3 {
    margin-left: 3px;
}

.ps-25 {
    padding-left: 25px;
}

.shadow {
    box-shadow: 10px 5px 5px #bfc6c8;
}

.trim-h {
    padding-left: 0px;
    padding-right: 0px;
}


.text-light {
    color: white;
}


.visible {
    display: block;
}

.invisible {
    display: none;
}

.uppercase {
    text-transform: uppercase;
}


.fw-bold {
    font-weight: bold;
}


.headerBackgroundColor {
    background: rgb(36, 85, 163);
    background: linear-gradient(130deg, rgba(36, 85, 163, 1) 23%, rgba(52, 151, 219, 1) 52%, rgba(52, 142, 219, 1) 58%, rgba(52, 131, 219, 1) 65%, rgba(40, 116, 166, 1) 74%);
}


.imageBox {
    background: rgb(61 102 167);
    color:white;
    position: absolute;
    width: 100%;
    height: 400px;
}

.overlap {
    position: absolute;
    width: 100%;
    height: 30%;
}

.loginText {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
}

.navyBox {
    border-width: 7px 0px 0px 0px;
    border-style: solid;
    padding: 0px 15px 0 15px;
}


.center {
    margin: auto;
    width: 50%;
}


.navyBorder {
    border-color: rgb(60, 141, 188);
}

.greenText {
    color: #18ad4c;
}

.grayText {
    color: gray;
}

.VITEmblem {
	width: 40px;
	height: 40px;
}

@media (min-width: 768px) {
    .card-holder {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        border-radius: 10px;
        margin: 30px 30px 30px 30px;
        height: 250px;
        background-color: white;
    }

    .headerBox {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-bottom: 20px;
        font-size: 30px;
        color: white;
    }


    .headerDescStyle {
        margin-top: 20px;
        font-size: 18px;
        width: 50%;
    }

    .imgbox {
        padding: 10px 5px 10px 5px;
    }

    .imgSize {
        width:100px;
        height:100px;
    }

    .VITLogoStyle {
		font-weight: bold;
		font-family: Times;
		font-size: 30px;
		color: white;
	}

	.VITSubLogoStyle {
		font-family: Times;
		font-size: 24px;
		color: white;
	}

	.VITLogo {
		padding: 2px 5px 0px 15px;
		margin: 5px 2px 0px 15px;
	}

}

@media (max-width: 576px) {
    .card-holder {}

    .card {
        border-radius: 10px;
        height: 200px;
        background-color: white;
    }

    .headerBox {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-bottom: 20px;
        font-size: 18px;
        color: white;
    }


    .headerDescStyle {
        margin-top: 20px;
        font-size: 12px;
        width: 70%;
    }

    .imgbox {
        padding: 5px 2px 5px 2px;
    }

    .imgSize {
        width:60px;
        height:60px;
    }

    
    .VITLogoStyle {
		font-weight: bold;
		font-family: Times;
		font-size: 23px;
		color: white;
	}

	.VITSubLogoStyle {
		font-family: Times;
		font-size: 14px;
		color: white;
	}

	.VITLogo {
		padding: 2px 1px 0px 2px;
		margin: 5px 1px 0px 2px;
	}

	.navbar_alignment {
		padding-left: 0px;
		padding-right: 1px;
		margin-left: 1px;
		margin-right: 0px;
	}

}

.card-body {
    padding: 10px 5px 10px 5px;
    margin: 10px 0px 20px 0px;
}

.pageBackground {
    background-color: rgb(118, 68, 138);
}


.footer-bottom {
    position: fixed;
    padding: 0px;
    margin: 0px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    text-align: center;
    color: #fff;
    background: rgb(36, 85, 163);
    background: linear-gradient(130deg, rgba(36, 85, 163, 1) 23%, rgba(52, 151, 219, 1) 52%, rgba(52, 142, 219, 1) 58%, rgba(52, 131, 219, 1) 65%, rgba(40, 116, 166, 1) 74%);
}